<p><b>Greetings, {{ fullname }}!</b></p>

<p>
Your ICN tutorial chat certificate has been approved and is ready for installation.  
</p>

<p>
Your NDN certificate has been approved and is ready for download.
You can download and install it either by using the following command or open the link with Android Identity Manager:
</p>

<P>
You can see the base64 encoded cert as below
</p>
<p>{{ cert_base64 }}
</p>
<p>
, and copy the string into the textarea in "install signed certificate" dialog; the dialog can be accessed by clicking the tools button on the top right corner of the page, then click the "install signed certificate" button.
</p>

<p>Sincerely,<br/>
Zhehao
</p>
