{% extends "layout.html" %}

{% block error %}
{% if error is defined %}
<div class="error">
{{ error }}
</div>
{% endif %}
{% endblock %}

{% block body %}
<div id="request-form-body">

  <div class="instructions">
    <p>Please fill information about you and submit ICN tutorial chat certfication request.</p>

    <p>Note that a limited number of characters are allowed to be included in NDN certificates, including lower and upper case latin letters, numbers, and punctuation symbols.</p>

    <p>To generate ICN tutorial chat certification request, please follow the instructions below:

    <ul>
      <li>
      Login to <a href="http://memoria.ndn.ucla.edu/icn-tutorial/icn-tutorial-app/" target="_blank">chat</a> with your email and user name.
      </li>
      <li>
      Click the tools button on the top right corner of the page, and click "Show certificate" button
      </li>
      <li>
      Copy the cert string from the displayed dialog into the 'ICN tutorial chat certification request' field below; Please try with newer version of Firefox (40 or 41), if the dialog says "cert not ready yet"
      </li>
    </ul>
  </div>
  
  <p/>

  <form name="input" id="input">

  <br/>
  <b>Full name (required):</b>
  <input type="text" id="full-name" name="full_name" size="20"></input>
  <br/>

  <b>Email:</b>
  <div class="box"><b>{{ email }}</b></div>
  <br/>

  <b>ICN tutorial chat certification request (required):</b>
  <textarea class="cert-request" name="cert_request" id="cert-request"></textarea>

  <input type="hidden" name="email" value="{{ email }}"></input>
  <input type="hidden" name="token" value="{{ token }}"></input>
  </form>
  <input type="button" id="submit-btn" value="Submit"></input>
  <p/>
  
  <div class="instructions" id="warning-div">
  </div>
</div>

<script>
document.getElementById('submit-btn').onclick = function () {
  var form = document.getElementById('input');
  var data = new FormData(form);
  var req = new XMLHttpRequest();
  
  var fullName = document.getElementById('full-name').value;
  var certRequest = document.getElementById('cert-request').value;
  
  var bodyElement = document.getElementById("request-form-body");
  
  if (fullName !== '' && certRequest !== '') {  
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        if (req.status == 200) {
          var response = JSON.parse(req.responseText);
          bodyElement.innerHTML = "<div class=\"instructions\"> \
              Your request for ICN tutorial chat certificate has been received.  \
              Your request will be processed and you should receive an email when your certificate is generated. \
            </div>";
        } else {
          console.log(req.responseText);
          bodyElement.innerHTML = req.responseText;
        }
      }
    }
    
    req.open('POST', "{{ url_for('submit_request') }}", true);
    req.send(data);
    
    bodyElement.innerHTML = "<div class=\"instructions\"> \
      Please wait... \
    </div>";
  } else {
    document.getElementById("warning-div").innerHTML = "Please put valid full name and cert request";
  }
}
</script>
{% endblock %}

</html>
